@page
@model CoreDemo.Pages.WiproModel
@{
    ViewData["Company"] = "Wipro";
    ViewData["Name"] = "Sreeja";
    ViewData["Location"] = "Hyderabad";
}
<p>Company Name is : <b>@ViewData["Company"]</b></p>
<p>Employ Name is : <b>@ViewData["Name"]</b></p>
<p>Company Location is : <b>@ViewData["Location"]</b></p>